body {
    min-height: 2000px;
    padding-top: 70px;
}

strong.highlight {
	color: #F92672;
	font-weight: bolder;
}

footer {
    margin-top: 20px;
    padding-top: 5px;
    border-top: 1px solid #eeeeee;
}