<?php 

/*
 * Copy this file to config.local.php and keep only the keys to override. The default config lives in config.php.
 */

return [

    // +---------------------------------------------------------------------------------------------------------------+
    // | Database connection details                                                                                   |
    // +---------------------------------------------------------------------------------------------------------------+

    // database host (ip, domain)
    'db_host' => 'localhost',

    // database username
    'db_user' => 'root',

    // database password
    'db_pass' => '',

    // database name
    'db_name' => '',

    // database table names prefix
    'db_table_prefix' => '',

    // +---------------------------------------------------------------------------------------------------------------+
    // | authentication, autorization                                                                                  |
    // +---------------------------------------------------------------------------------------------------------------+

    // name of the database table containing user details
    'security_user_table' => 'users',

    // name of the database column for the primary key
    'security_id_property' => 'id',

    // name of the database column for "username"
    'security_username_property' => 'username',

    // name of the database column for "email"
	'security_email_property' => 'email',

    // name of the database column for "password"
    'security_password_property' => 'password',

    // name of the database column for "role"
    'security_role_property' => 'role',

    // name of the route for login form
    'security_login_route_name' => 'login',

    // +---------------------------------------------------------------------------------------------------------------+
    // | administration                                                                                                |
    // +---------------------------------------------------------------------------------------------------------------+

    // max number of records to display in the admin interface
    'admin_pagination_limit' => 10,
];

